<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Clicker Online - Log In</title>
</head>
<body>
    <h1>Cookie clicker login page!</h1>
    <form action="/user/loggedin" method="post">
        <input type="text" name="username" id="username">
        <input type="text" name="password" id="password">
        <button type="submit">Login now!</button>
    </form>
    <p><%= data.message %></p>
</body>
</html>