<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Clicker Online - SignUp</title>
</head>
<body>
    <h1>Cookie clicker online Signup</h1>
    <p>Join the team who has clicked <%= data.cookie_count %> cookies to date!</p>
    <form action="/user/signedup" method="post">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="text" name="password" id="password" placeholder="password">
        <button type="submit">Sign Up now!</button>
        <p><%= data.message %></p>
    </form>
</body>
</html>